Flask==2.3.3
pandas==1.5.3
requests==2.31.0
web3==6.15.1
cryptography==42.0.5
joblib==1.4.2
google-cloud-kms==2.21.0
google-cloud-storage==2.16.0
google-cloud-logging==3.8.0
python-dotenv==1.0.1
numpy==1.26.4
scikit-learn==1.5.2